[Unit]
Description=Job that runs your user script

[Service]
ExecStart=///workspace/warthunder/start.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target